<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Course Hub System</title>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<div class="login-container">
  <h1>HỆ THỐNG QUẢN LÝ ĐĂNG KÝ KHÓA HỌC</h1>
  <h3>ĐĂNG NHẬP</h3>

  <form th:action="@{/login}" method="post">
    <div class="form-group">
      <label for="username">
        <span class="required">*</span> Tài khoản
      </label>
      <input type="email" id="username" name="username" placeholder="Email" required autocomplete="email">
    </div>
    <div class="form-group">
      <label for="password">
        <span class="required">*</span> Mật khẩu
      </label>
      <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <div class="forgot-password">
      <a href="#">Quên mật khẩu</a>
    </div>

    <div class="form-group">
      <button type="submit" class="login-button">Đăng nhập</button>
    </div>
    <div class="or-divider">
      <span>Hoặc</span>
    </div>

    <div class="register">
      <a href="/register">Đăng ký</a>
    </div>

    <div>
      <input type="hidden" name="${_csrf.parameterName}"
             value="${_csrf.token}" />
    </div>

    <!-- Hiển thị thông báo lỗi nếu có -->
    <div class="error-message" th:if="${param.error}">
      <p style="color:red;">Email hoặc mật khẩu không chính xác. Vui lòng thử lại!</p>
    </div>
  </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>