<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
</head>
<body>

<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Navbar -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<div>
</div>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>